@{
    ViewBag.Title = "Index";

    var result = "";
    if(IsPost) {
        result = "HttpPost";
    } else {
        result = "HttpGet";
    }
}

<div class="column-100 spacing">

    <h2>Index</h2>
    <p>@result</p>

</div>

<div class="column-50 spacing blue">
    <h3>Post</h3>
    <p>Simple post</p>
    @using (Html.BeginForm("Index", "PostGet", FormMethod.Post)) {
        <input type="Submit" name="Submit" value="Post"/>
    }
</div>

<div class="column-50 spacing blue">

    <h3>Send id</h3>
    <p>Creates a HttpPost that is handled in PostGetController</p>
    @using (Html.BeginForm("SendId", "PostGet", FormMethod.Post))
    {
        <p><strong>@ViewBag.Textbox</strong></p>
    
        <p>
            ID:<br />
            @Html.TextBox("id")
        </p>
        <input type="submit" value="Submit" />
    }

</div>

<div class="column-50 spacing blue">

    <h3>Send more values</h3>
    <p>Creates a HttpPost that sends two values to the PostGetController</p>
    @using (Html.BeginForm("SendMoreValues", "PostGet", FormMethod.Post))
    {
        <p><strong>@ViewBag.Textbox2</strong></p>
    
        <p>
            Surname:<br />
            @Html.TextBox("surname")
        </p>
        <p>
            Lastname:<br />
            @Html.TextBox("lastname")
        </p>
    
        <input type="submit" value="Submit" />
    }

</div>

<div class="column-50 spacing blue">

    <h3>ActionLink test</h3>
    <p>This uses a form to get values from a HttpGet request</p>
    @using (Html.BeginForm("ActionLinkTest", "PostGet", FormMethod.Get))
    {
        <p><strong>@ViewBag.Textbox3</strong></p>
    }

    @Html.ActionLink("Press me, I'm an ActionLink", "ActionLinkTest", "PostGet")

</div>
