@{
    ViewBag.Title = "Index";
}

<div class="column-50">

    <h2>Index</h2>
    <p>
        This form uses a model to send the values into a partial view. This partial view is located in Views/Form/_ResultPartial but is viewed inside Index.
    </p>

    @using (Html.BeginForm("Index", "Form", new { PostedDate = DateTime.Now }, FormMethod.Post))
    {    
        <p>
            Surname:<br />
            @Html.TextBox("Surname")
        </p>
        <p>
            Lastname:<br />
            @Html.TextBox("Lastname")
        </p>
        <p>
            E-mail:<br />
            @Html.TextBox("Email")
        </p>
        <p>
            Age:<br />
            @Html.TextBox("Age")
        </p>
    
        <input id="Submit1" type="submit" value="Save" />
    }

</div>


<div class="column-50">    

    @Html.Partial("_ResultPartial")

</div>